/* styles.css */

/* Navbar */
.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-link:hover {
    color: #ccc;
  }
  
  /* DarkModeToggle */
  .dark-mode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 /* styles.css */

/* Cards */
.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 7cm; /* Set width to 7cm */
    height: 5cm; /* Set height to 5cm */
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  .card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  .card button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
